* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 241, 236);
}

main {
    margin-top: 2%;
}

header {
    background-color: black;
    color: white;
    font-size: 4rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 10rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.itens__body {
    margin-top: 2%;
}

.principal__container {
    margin-left: 2%;
    margin-right: 2%;
    height: 100vh;
}

.texto__subtitulo {
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1%;
}

.texto__geral {
    font-size: 1.5rem;
}

.alinhamento__texto__input {
    display: flex;
    align-items: center;
    gap: 1%;
    font-size: 1.5rem;
}

.ajuste__input {
    height: 22%;
    width: 15%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

::placeholder {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
}

.container__resultado {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    border: 0.2rem solid black;
}

.titulo__resultado,
.saida__calculo {
    font-size: 1.3rem;
    margin-left: 10%;
    margin-right: 10%;
}

.ajuste__titulo__resultado {
    text-align: center;
}

.menu {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    border-bottom: 0.2rem solid black;
    border-radius: 0.3rem;
}


@media (max-width: 935px) {

    header {
        font-size: 3.2rem;
    }

    .texto__subtitulo {
        font-size: 1.1rem;
    }

    .texto__geral {
        font-size: 0.9rem;
    }

    .alinhamento__texto__input {
        font-size: 0.9rem;
    }

    .container__resultado {
        border: 0.15rem solid black;
    }

    .titulo__resultado,
    .saida__calculo {
        font-size: 0.8rem;
    }

    .menu {
        font-size: 1.4rem;
        border-bottom: 0.15rem solid black;
        border-radius: 0.2rem;
    }

    ::placeholder {
        font-size: 0.5rem;
    }

    footer {
        font-size: 0.6rem;
    }
}


@media (max-width: 700px) {

    header {
        font-size: 2.7rem;
    }

    .texto__subtitulo {
        font-size: 0.9rem;
    }

    .texto__geral {
        font-size: 0.7rem;
    }

    .alinhamento__texto__input {
        font-size: 0.75rem;
    }

    .container__resultado {
        border: 0.12rem solid black;
    }

    .titulo__resultado,
    .saida__calculo {
        font-size: 0.65rem;
    }

    .menu {
        font-size: 1.1rem;
        border-bottom: 0.12rem solid black;
        border-radius: 0.15rem;
    }

    ::placeholder {
        font-size: 0.3rem;
    }

    footer {
        font-size: 0.4rem;
    }

}