{%extends "template.html"%}

{%block conteudo%}

<main>
    <a class="menu" href="/">Pagina Inicial</a>

    <div class="itens__body">
        <form action="/validar" method="post">
            <div class="alinhamento__texto__input itens__body">
                <label for="entrada_dados"><b>{{texto_input}}</b></label>
                <input class=" ajuste__input" id="entrada_dados" type="text" , name="IP" , placeholder="192.168.1.1/24"
                    required>
                <button type="submit" value="Enviar">Enviar</button>
            </div>
        </form>
    </div>

    <div class="container__resultado">
        {% if valor == True %}
        <div class="ajuste__titulo__resultado">
            <label class="titulo__resultado"><b>{{ip}}</b></label>
            <p class="saida__calculo">{{resultado[0]}}</p>
        </div>

        <div class="ajuste__titulo__resultado">
            <label class="titulo__resultado"><b>{{prefixo}}</b></label>
            <p class="saida__calculo">{{resultado[1]}}</p>
        </div>

        <div class="ajuste__titulo__resultado">
            <label class="titulo__resultado"><b>{{mascara}}</b></label>
            <p class="saida__calculo">{{resultado[2]}}</p>
        </div>

        <div class="ajuste__titulo__resultado">
            <label class="titulo__resultado"><b>{{ip_rede}}</b></label>
            <p class="saida__calculo">{{resultado[3]}}</p>
        </div>

        <div class="ajuste__titulo__resultado">
            <label class="titulo__resultado"><b>{{ip_broadcast}}</b></label>
            <p class="saida__calculo">{{resultado[4]}}</p>
        </div>

        <div class="ajuste__titulo__resultado">
            <label class="titulo__resultado"><b>{{hosts}}</b></label>
            <p class="saida__calculo">{{resultado[5]}}</p>
        </div>

        {%else%}
        <p class="saida__calculo"><b>{{resultado}}</b></p>
        {% endif %}
    </div>

    <div>
        <div>
            <h2 class="texto__subtitulo"><b>{{subtitulo1}}</b></h2>
            <p class="texto__geral">{{texto_ip}}</p>
        </div>

        <div>
            <h2 class="texto__subtitulo"><b>{{subtitulo2}}</b></h2>
            <p class="texto__geral">{{texto_mascara}}</p>
        </div>

        <div>
            <h2 class="texto__subtitulo"><b>{{subtitulo3}}</b></h2>
            <p class="texto__geral">{{texto_hosts}}</p>
        </div>

    </div>
</main>
<footer>&copy; IPV4 website create by Rogério Bicho</footer>
{%endblock%}